<!DOCTYPE HTML>
<html>
<head>
    <title> Get Customer Data</title>
</head>
<body>
    <h2> Please provide the following data</h2>
    <form action ="http://localhost:5000/success" method = 'POST'>
        <p>Name: <input type="text" name="name"></p>
        <p>Email: <input type="email" name="email"></p>
        <p>Contact: <input type="number" name="contact"></p>
        <p>Company: <input type="text", name="company"></p>
        <button input type = "Submit", name="Submit">Submit</button>
    </form>
</body>
</html>