<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <form action ="http://localhost:5000/success" method = 'POST'>
            <table>
                <tr><td>Email: </td><td><input type = "email" name = "email"></td></tr></br>
                <tr><td>Password: </td><td><input type = "password" name = "password"></td></tr></br>
                <tr><td><button type = "Submit" name = "submit">Submit</button></td></tr>
            </table>
        </form>
    </body>
</html>